body {
  margin: 0;
  padding: 0;

}

.page {
  min-height: 100vh;
  background-color: #1e1e1e;
  font-family: Helvetica, Arial, sans-serif;
  color: aliceblue;
}

.page__title {
  font-size: 50px;
}
