.button {
  width: auto;
  padding: 10px;
  border: 1px solid #000;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
}

.button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}